# East-West University

# CI280 Final Exam - 2020 Fall  (100 points)

# Student Name:

# Student ID:

### Real Estate Data  Analysis

In [1]:
%matplotlib inline
import random
import pandas as pd
import matplotlib.pyplot as plt

plt.rc('figure', figsize=(10, 8))

In [2]:
# limiting the display rows
pd.set_option('display.max_rows', 8)

In [3]:
realEstate = pd.read_csv('RealEstate.csv')
print(realEstate.shape)
realEstate

(81, 8)

,Trans_No,Address,City,Selling_Agent,Asking_Price,Selling_Price,Listing_Date,Sale_Date
0,1,8687 Kenwood Road,Cedar Hills,Hernandez,725000,645250,4/1/2018,6/16/2018
1,2,11 West Oak Circle,American Fork,Carey,350000,340000,4/1/2018,5/15/2018
2,3,314 Timp View Drive,American Fork,Goodrich,418000,400000,4/1/2018,6/1/2018
3,4,614 West Cedar Drive,Lehi,Lugo,215800,200000,4/1/2018,5/25/2018
...,...,...,...,...,...,...,...,...
77,78,123 Oak Avenue,American Fork,Carey,400000,400000,6/30/2018,7/15/2018
78,79,600 Ivy Lane,Eagle Mountain,Pijuan,339999,310000,6/30/2018,10/1/2018
79,80,144 Oak Avenue,American Fork,Goodrich,380500,365000,6/30/2018,9/1/2018
80,81,1600 Reeves Street,Cedar Hills,Reuter,245900,233605,6/30/2018,8/16/2018

# Part A: Basic Dataframe ( 50 pts)

In [4]:
import random
number = random.randint(0,10000)

print("Jay Patel , 18945: ", number )
print('------------------------------\n')

# Problem 1 ( 3 = 3 = 6 pts)

# Display datafrome realEstate column names



realEstate.columns

Jay Patel , 18945:  98
------------------------------

Index(['Trans_No', 'Address', 'City', 'Selling_Agent', 'Asking_Price',
       'Selling_Price', 'Listing_Date', 'Sale_Date'],
      dtype='object')

In [5]:
number = random.randint(0,10000)
print("Jay Patel , 18945: ", number )
print('------------------------------\n')

# Problem 2. (3 + 3 = 6 points)
# Diplay DataFrame realEstate's three columns:  Trans_No , City, Asking_Price

realEstate[['Trans_No','City','Asking_Price']]

Jay Patel , 18945:  2989
------------------------------

    Trans_No            City  Asking_Price
0          1     Cedar Hills        725000
1          2   American Fork        350000
2          3   American Fork        418000
3          4            Lehi        215800
..       ...             ...           ...
77        78   American Fork        400000
78        79  Eagle Mountain        339999
79        80   American Fork        380500
80        81     Cedar Hills        245900

[81 rows x 3 columns]

In [ ]:
#realEstate[realEstate['Selling_Agent']=='Carey']

realEstate[(realEstate['Selling_Agent']=='Carey') & (realEstate['Asking_Price']>=300000)]

In [ ]:
number = random.randint(0,10000)
print("Jay Patel , 18945: ", number )
print('------------------------------\n')


# Problem 4. (8 points)
# List all realestates sold by agent Carey and Asking_Price is over $300,000






realEstate[(realEstate['Selling_Agent']=='Carey') & (realEstate['Asking_Price']>=300000)]

In [ ]:
city = realEstate['City'].unique

In [ ]:
number = random.randint(0,10000)
print("Jay Patel , 18945: ", number )
print('------------------------------\n')


# Problem 5. ( 4+4 =8 points)
      
# Display all Cities and display one city in one line   

realEstate['City'].unique

In [ ]:
#Q6
realEstate.tail()
print('\nThe total number of realestate:',realEstate.shape[0])

print('\nThe highest asking price:',realEstate['Asking_Price'].mean())

In [ ]:
df = realEstate
number = random.randint(0,10000)
print("Jay Patel , 18945: ", number )
print('------------------------------\n')


# Problem 6. (14 points)
# A) Show the total number of realestate listed in the dataset 
# C) Display the highest asking price of realestate  
# B) Display the average selling price, and average asking prince
# D) Compute the percentage of average selling price to asking price 




print('\nThe total number of realestate:',realEstate.shape[0])
print('\nThe highest asking price: $',realEstate['Asking_Price'].max())
print('\nAverage Asking Price:  $',realEstate['Asking_Price'].mean())
print('\nAverage Selling Price: $',realEstate['Selling_Price'].mean() )
print('\nThe Percentage of Average Selling price to Average Asking price:',((realEstate['Selling_Price'].mean()/realEstate['Asking_Price'].mean()))*100

# Part B:  (50 points)

In [ ]:
number = random.randint(0,10000)
print("Jay Patel , 18945: ", number )
print('------------------------------\n')


# Problem 1. ( 8 pts)
# Sorting the realestate data by city and Asking price in ascending oreder



data = realEstate.sort_values(by=['City'])
data.sort_values(by=['Asking_Price'])

In [ ]:
number = random.randint(0,10000)
print("Jay Patel , 18945: ", number )
print('------------------------------\n')


# Problem 2. ( 8 pts)
# List three lowest asking price realestate sold in City Lehi


data = realEstate[realEstate['City']=='Lehi']
data.sort_values(by=['Asking_Price']).head(3)

In [ ]:
number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------\n')

#  Problem 3. ( 10 pts)

#  Show the average selling price of real estate sold by agent Goodrich
#  Is its average selling price above or below the average selling price of all realstates?




data1 = realEstate[realEstate['Selling_Agent']=='Goodrich']
SP = data1['Selling_Price'].mean()
print('Average Selling Price by Agent Goodrich is:  $',SP )



print('Average Selling Price by all agents is:  $',realEstate['Selling_Price'].mean() )


if data1['Selling_Price'].mean() < realEstate['Selling_Price'].mean():
    print('The average selling price from agent Goodrich is below the average selling price from all gent')
else:
     print('The average selling price from agent Goodrich is above the average selling price from all gent')

In [ ]:
number = random.randint(0,10000)
print("Jay Patel , 18945: ", number )
print('------------------------------')


# Problem 4. ( 14 pts)
# Display and plot the average Asking Price in each city in ascending ording. 

df = realEstate.groupby(['City'],as_index=False).mean().groupby('City')['Asking_Price'].mean()
df.sort_values().plot(kind='bar')

In [ ]:
# Problem 5. ( 10 pt)
# Show the real estate number of each agent,
# and sorted by the agent name
# And plot the result as bar chart